* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f7f7e8;
}

.nav-links {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* width: 200px; */
    height: 100vh;
    top: 0;
    left: 0;
    background: #c7cfb7;
    transition: 1s;
}

.nav-links ul {
    justify-content: center;
    align-items: center;
    list-style: none;
    ;
}

.nav-links ul li a {
    text-decoration: none;
    color: black;
    display: flex;
    margin: 1em;
    font-weight: 600;
    ;
}

.btn {
    width: 30px;
    height: 30px;
    background-color: red;
    position: relative;
    position: fixed;
    z-index: 999;
}

.nav-links.close {
    transition: 1s;
    left: -200px;
}